/*el id "madre" viene a ser el contenedor principal*/
#madre {
  background-color: green;
  height: 300px;
  width:300px ;
  position: relative;
  left:30%;

}
  
  p {
    background: aqua;
    position: relative;
    display: block;
    width:130px;
    height:130px;
    bottom: 115px;
    right:  100px;
    }
  
 div {
   background-color: chartreuse;
   padding: 100px;
   margin:50px;
   width:50px;
   height:50px;
   position: relative;
   right: 40px;
   bottom: 10px;
   
 }
 /*segundo contenedor general(caja2)*/
 #conteiner {
  background-color:purple;
  height: 300px;
  width:300px ;
  position: absolute;
  top: 700px;
 }
 #conteiner p {
  background: aqua;
  position: relative;
  width:140px;
  height:140px;
  top:-450px;
  right:  100px;
  }

 }
   

 